{% extends 'layout/base.html' %}
{% block title %}Validate{% endblock title %}


{% block content %}


<div>
	<div>
	<h1>
		<em>
		Validate to continue
		</em>
	</h1>
	<ol>
		<li>Check the authenticator app and enter the code</li>
		<li>Click the button to Validate</li>
	</ol>
</div>
	<div>
		<form method="POST">{%csrf_token%}

			<h1>{{form.pin}}</h1>
			<input type="submit" >
		</form>
</div>
<div>{% if msg%}
    {{ msg | safe }}
    {%endif%}</div>

</div>
      

{%endblock content%}


                        