beautifulsoup4==4.12.3
cryptography==44.0.0
Django==5.1.4
django-ckeditor==6.7.2
pillow==10.4.0
pyotp==2.9.0
pytesseract==0.3.13
python-dotenv==1.0.1 
qrcode==8.0
social-auth-app-django==5.4.2
stegano==0.11.4
 
