Package                    Version
-------------------------- ------------
beautifulsoup4             4.12.3
cryptography               42.0.5
Django                     5.0.6
django-allauth             0.62.1
l18n                       2021.3
lxml                       5.2.1
pillow                     10.3.0
pypng                      0.20220715.0
python-dotenv              1.0.1
qrcode                     7.4.2
reportlab                  4.2.0
requests                   2.31.0
rsa                        4.9
